$pink:#f71963;

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1280px;
    height: 32px;
}

.avisos{
    display: flex;
    align-items: center;
}

.avisos img {
    width: 20px;
    height: 20px;
}

.avisos p {
    height: 18px;
    font-size: 12px;
    align-items: center;
    margin-left: 9px;
}

.avisos span {
    color: $pink;
    font-weight: 600;
}
