$corLinha: #f0f0f0;

.navbar-container {
  width: 1280px;
  height: 72px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid $corLinha;
  border-bottom: 1px solid $corLinha;
  align-items: center;
  padding: 7px;
}

.navbar img {
  width: 139px;
  height: 50.64px;
}

.navbar-busca input {
  width: 657px;
  height: 48px;
  border-radius: 10px;
  background-color: #f7f5f2;
  border: none;
  padding-left: 24px;
  padding-top: 13px;
  padding-bottom: 14px;
}

.navbar-busca img {
  width: 28px;
  height: 28px;
  margin-left: -40px;
  margin-bottom: -8px;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-icons ul {
  text-decoration: none;
  list-style: none;
}

.navbar-icons ul li {
  display: inline-block;
  margin-right: 32px;
}

.navbar-icons ul li img {
  width: 24px;
  height: 24px;
}
